body{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
#root{
 
  background-color: rgba(175, 142, 142, 0.812);
  border-radius: 10px;
  border-color: black;
}

.butao{
  margin: 10px;
  margin-left: 140px;
  border-color: black;
  
  
}
.metaDiaria{
  margin-left: 140px;
}
.capacidade{
  margin-left: 140px;
}
.msg{
  margin-left: 160px;
}



